{% extends 'layout.html' %}

{% block body %}
<div class="row contact ">
    <div class="col-md-6  ">
        <img class='img-contact'
            src="../static/images/green-2599290.jpg"
            alt="contact"

        />
    </div>
    <div class="col-md-6">
        <h2 class="align-middle mt-2 text-2xl">   About Us </h2>
        <p class="text-justify  mt-2">
            WE ARE GREEN_NINJAS !! We are here to help farmers grow the best crop on basis of rainfall and soil properties of your region. And also enhances the quality of crop by recommending the fertilizers as well predict the diseases your crop may be infected with.
        </p>
    </div>
</div>
</html>

{% endblock %}