{% extends 'layout.html' %}

{% block body %}
<div class="row contact mx-32">
    <div class="col-md-6  ">
        <img class='img-contact'
            src="../static/images/green-2599290.jpg"
            alt="contact"

        />
    </div>
    <div class="col-md-6">
        <h2 class="align-middle mt-2 text-2xl">Contact Us</h2>
        <p class="text-justify  mt-2">
            For any queries or difficulties contact us on this email: krishnadeepvarn**@gmail.com
            Also make sure to give us an honest feedback .
        </p>
    </div>
</div>
{% endblock %}