{% extends 'layout.html' %} {% block body %}

<style>
  html body {
    background-color: white;
  }
</style>
<!--Form Section-->
<br /><br />
<h2 class="text-center text-black">
  <b>Get informed advice on fertilizer based on soil</b>
</h2>
<br />

<div class="w-auto h-auto mx-96 mb-36 text-black border-2 p-4"

>
  <form method="POST" action="{{ url_for('fert_recommend') }}">
    <div class="flex justify-between form-group py-2">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
        class="form-control border-black  border-2  text-base p-1 "
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="flex justify-between form-group py-2">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="number"
        class="form-control border-black  border-2  text-base p-1 "
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="flex justify-between form-group py-2">
      <label for="Potassium" style="font-size: 17px"><b>Potassium</b></label>
      <input
        type="number"
        class="form-control border-black  border-2  text-base p-1 "
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <!-- <div class="form-group">
      <label for="ph" style="font-size: 17px"><b>ph level</b></label>
      <input
        type="text"
        class="form-control"
        id="ph"
        name="ph"
        placeholder="Enter the value"
        style="font-weight: bold"
        required
      />
    </div> -->
    <div class="flex justify-between form-group py-2">
      <label for="crop" style="font-size: 17px"
        ><b>Crop you want to grow</b></label
      >
      <select
        name="cropname"
        class="form-control border-black  border-2  text-base p-1 "
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option>rice</option>
        <option>maize</option>
        <option>chickpea</option>
        <option>kidneybeans</option>
        <option>pigeonpeas</option>
        <option>mothbeans</option>
        <option>mungbean</option>
        <option>blackgram</option>
        <option>lentil</option>
        <option>pomegranate</option>
        <option>banana</option>
        <option>mango</option>
        <option>grapes</option>
        <option>watermelon</option>
        <option>muskmelon</option>
        <option>apple</option>
        <option>orange</option>
        <option>papaya</option>
        <option>coconut</option>
        <option>cotton</option>
        <option>jute</option>
        <option>coffee</option>
      </select>
    </div>

    <div class="flex justify-center">
      <button
        type="submit"
       class="bg-white mx-16 mt-2 hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      >
        Predict
      </button>
    </div>
  </form>
</div>
{% endblock %}
